<!DOCTYPE html>
<html>
<head>
	<title>details page</title>
</head>
<body>
	<center>
		<h2>My Details are : </h2>
		<table border=5 bgcolor="green" bordercolor="yellow">
			<thead>
				<tr>
					<th>Username</th>
					<th>Mobile NUmber</th>
					<th>Email Address</th>
					<th>Password</th>
					<th>confirm Password</th>
				</tr>
			</thead>
		    <tbody>
		    	<tr>
		    		<td>{{n}</td>
		    		<td>{{m}}}</td>
		    		<td>{{e}}</td>
		    		<td>{{p}}</td>
		    		<td>{{cp}}</td>
		    	</tr>
		    </tbody>
		</table>


	</center>
</body>
</html>