<!DOCTYPE html>
<html>
<head>
	<title>table page</title>
</head>
<body>
	<center>
		<h2>This is My Table page</h2>
		<table border="5" width=50% bgcolor="green" bordercolor="yellow">
			<thead>
				<tr>
					<th>S.No</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Age</th>
					<th>Gender</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Harshini</td>
					<td>narshe</td>
					<td>21</td>
					<td>Female</td>
				<tr>
				<tr>
					<td>2</td>
					<td>Ganesh</td>
					<td>narshe</td>
					<td>16</td>
					<td>Male</td>
				<tr>
				<tr>
					<td>3</td>
					<td>Harshini</td>
					<td>narshe</td>
					<td>21</td>
					<td>Female</td>
				<tr>
			</tbody>
		</table>
	</center>
</body>
</html>